<footer class="footer bg-green">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4">
                            <a href="/"><img src="{{ site.baseurl }}/assets/images/white_logo.png" width="300px" class="img img-responsive" /></a>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4 text-left text-sm-start">
                            <div class="information">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Useful Links</h6>
                                <ul class="list-unstyled footer-link mt-4">
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Events</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">About Us</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Our Team</a></li>
                                    <li class="mb-1"><a href="#" class="text-white text-decoration-none fw-semibold">Upcoming Events</a></li>
                                    <li class=""><a href="" class="text-white text-decoration-none fw-semibold">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mt-4 col-lg-4 text-left text-sm-start">
                            <div class="contact">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Contact Us</h6>
                                <address class="mt-4 m-0 text-white mb-1"><i class="bi bi-pin-map fw-semibold"></i> P.O. Box 20774, Nairobi 00202, Kenya</address>
                                <a href="mailto:info@datascienceafrica.org " class="text-white mb-1 text-decoration-none d-block fw-semibold"><i class="glyphicon glyphicon-envelope"></i> info@datascienceafrica.org </a>
                            </div>
                            <div class="social">
                                <h6 class="footer-heading text-uppercase text-white fw-bold">Social</h6>
                                <ul class="list-inline my-4">
                                    <!--<li class="list-inline-item">
                                        <a href="" class="text-white btn-sm btn btn-primary mb-2"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="" class="text-danger btn-sm btn btn-light mb-2"><i class="bi bi-instagram"></i></a>
                                    </li>-->
                                    <li class="list-inline-item">
                                        <a target="_blank" href="https://twitter.com/dsa_org" class="text-white btn-sm btn btn-dark mb-2"><i class="bi bi-twitter-x"></i></a>
                                        <a target="_blank" href="https://www.linkedin.com/company/data-science-africa-dsa/?viewAsMember=true" class="text-white btn-sm btn btn-dark mb-2"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center bg-green text-white mt-4 p-1">
                    <p class="mb-0 fw-bold">2025 © Data Science Africa, All Rights Reserved</p>
                </div>
            </footer>
<!--<br><b>Topics</b><ul><li>Deep Generative AI + Lab</li><li>General introduction</li><li>Variational Autoencoders): theory</li><li>Variational Autoencoders: laboratory (solutions)</li><li>Generative Adversarial Networks : Theory</li><li>Generative Adversarial Networks: laboratory (solutions)</li></ul>-->

<!--<br><b>Photo credit: https://www.freewordcloudgenerator.com/generatewordcloud</b><br>This summer school offers an intensive dive into the world of Natural Language Processing (NLP) for African languages!  Over three days (Monday to Wednesday), you will explore the power of Large Language Models (LLMs), focusing on real-world applications for East Africa.  Develop an AI-powered agricultural assistant, tackle speech recognition for under-resourced languages, and delve into end-to-end speech technology.  Get hands-on experience building your own AI systems through practicum labs, and gain the skills to unlock the potential of NLP for African languages.<br><br><b>Topics</b><ul><li>Open Source LLMs in Production: Developing an AI-Powered Agricultural Assistant for East Africa</li><li>ASR for Low-Resourced Languages + Lab</li><li>End-to-End Automatic Speech Technology for African Languages + Lab</li><li>NLP and LLMs + Lab</li><li>Building RAG Agents with LLMs + Lab</li></ul>-->

<!--
<br><b>Photo credit: OpenArt SDXL AI generated prompt</b><p>Join us in exploring Edge AI, where intelligence converges with reality. Bid farewell to cumbersome servers and welcome the opportunity to develop and deploy Machine Learning models directly onto compact devices such as Raspberry Pis. Experience the marvel as your creation analyses bioacoustic data in the field, providing real-time insights into the concealed symphony of nature. Envision the wonder of observing your AI model identify bird calls or monitor animal movements, all made possible through your innovation and a pocket-sized powerhouse. This is not solely about acquiring knowledge; it is about surpassing the boundaries of AI and making a meaningful impact on the environment.</p><b>Topics</b><ul><li>Edge AI</li><li>Edge AI Fieldwork</li></ul>
<b>Other Topics</b><ul><li>Mathematical Foundations for ML</li><li>Uncertainty Quantification</li><li>Data Visualisation</li><li>GeoAI4Good: Harnessing the Transformative Power of AI Foundation Models for Earth Observation for Environmental Monitoring
</li><li>Machine Learning for Remote Sensing</li><li>Introduction to Graphcast</li><li>Computer Vision</li><li>MLOps</li><li>Data Science for Policy</li></ul>
-->
