<div class="image-with-block-wrapper">
                <div class="hero" style="background-image: url('{{ site.baseurl }}/assets/images/ui-banner.jpg');">
                    <div class="transbox">
                        <h1 style="text-align: left;">{{ site.description }}</h1>
                        <h3>{{ site.dates }}</h3>
                        <p>Theme: {{ site.sitetheme}}</p>
                    </div>

                    <a href="/register" class="hero_btn">Register Now</a>
                </div>

                <div class="border-div">
                    <div class="div-over-bg"><img class="img img-fluid" src="{{ site.baseurl }}/assets/images/UI-Logo.jpeg" /></div>
                </div>
            </div>