<div class="container">
              <div class="row">
                  <div class="col-lg-12 col-sm-12">
                      <div class="counter row">
                        <div class="col-lg-4">
                          30+<br/>
                          <span>African Countries</span>
                        </div>
                        <div class="col-lg-4">
                          50+<br/>
                          <span>Topics</span>
                        </div>
                        <div class="col-lg-4">
                          20+<br/>
                          <span>Speakers</span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>